header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    font-family: cursive;
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF);
}

*{
    padding: 0px;
    margin: 0px;
}

img{
    height: 140px;
    width: 140px;
    align-items: center;
}
