.titulo {
    text-align: center;
    color: #342C6E;
    font-family: monospace;
    font-size: 25px;
}

.paises_btn {
    width: 100px;
    border-radius: 20px;
    width: 7rem;
    text-align: center;
    background: #131d39;
}

.pais_actu {
    background: #131d39;
}

.table-responsive {
    /* font-family: cursive !important; */
    margin: 30px;
    text-align: center;
}

.paises_table {
    font-family: monospace bold;
}